{% extends "base.twig" %}


{% block content %}
	{% embed 'hero-smaller.twig' %}

		{% block heroText %}

			<h2 class="t-big">{{ post.title }}</h2>

		{% endblock %}

	{% endembed %}


	{% include 'breadcrumbs.twig' %}

	<section class="rules">
		<div class="container">
			<div class="row rules__row">
				<div class="col-12">
					<h3 class="section-title direction__heading t-title t-title--accent" data-aos="fade-down-short" data-aos-duration="1000">
						Wymagane dokumenty
					</h3>
					<p class="level__alert t-p--alert t-underline" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="400">Dokumenty należy składać osobiście. W innym przypadku konieczne jest przedstawienie upoważnienia notarialnego. O przyjęciu na studia decyduje złożenie kompletu dokumentów oraz kolejność zgłoszeń.</p>

					<div class="rules__list-wrapper">
						<p class="t-3 t-extra rules__heading-smaller" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">Studia I stopnia oraz 5-letnie studia magisterskie</p>
						<div class="level__list-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="800">
							<ol class="list level__list">
								<li class="level__item">
									<a href="#">Podanie (wydrukowane dwustronnie; drukowane litery)</a>
								</li>
								<li class="level__item">Kserokopia świadectwa dojrzałości (oryginał do wglądu)</li>
								<li class="level__item">Kserokopia świadectwa ukończenia szkoły średniej (oryginał do wglądu)
								</li>
								<li class="level__item">1 fotografia legitymacyjna</li>
								<li class="level__item">CD ze zdjęciem w formacie 295 x 236 pikseli (plik w formacie jpg)</li>
								<li class="level__item">Potwierdzenie wpłaty na konto Uczelni wpisowego, pierwszej raty czesnego oraz opłaty za legitymację</li>


							</ol>
						</div>
					</div>
					<div class="rules__list-wrapper">
						<p class="t-3 t-extra rules__heading-smaller" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">Studia II stopnia</p>
						<div class="level__list-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="800">
							<ol class="list level__list">
								<li class="level__item">
									<a href="#">Podanie (wydrukowane dwustronnie; drukowane litery)</a>
								</li>
								<li class="level__item">Kserokopia świadectwa dojrzałości (oryginał do wglądu)</li>
								<li class="level__item">Kserokopia świadectwa ukończenia szkoły średniej (oryginał do wglądu)
								</li>
								<li class="level__item">kserokopia dyplomu ukończenia studiów I stopnia: części A i B-suplementu (oryginał do wglądu)</li>
								<li>do wglądu akt ślubu w przypadku zmiany nazwiska (dotyczy tylko absolwentów studiów licencjackich NWSP)
								</li>
								<li class="level__item">1 fotografia legitymacyjna</li>
								<li class="level__item">CD ze zdjęciem w formacie 295 x 236 pikseli (plik w formacie jpg)</li>
								<li class="level__item">Potwierdzenie wpłaty na konto Uczelni wpisowego, pierwszej raty czesnego oraz opłaty za legitymację</li>


							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
