{% extends "base.twig" %}

{% block content %}


	<div class="content-wrapper">
		<div class="hero" style="background: pink">
			<div class="container hero__container d-flex section-full align-items-center flex-wrap">
				<div class="hero__row hero__row--text">
					<h2 class="t-big">
					WYBIERZ WŁASNĄ ŚCIEŻKĘ - DNI OTWARTE</h2>
					<p class="t-p--serif">Najlepszym sposobem, aby dowiedzieć się, jak wyglądałoby studiowanie w naszej szkole</p>
					<a href="#" class="btn btn--white">Aplikuj do nas <i class="fa fa-external-link" aria-hidden="true"></i></a>
				</div>
				<div class="hero__row hero__row--link row w-100">
					<div class="col-xs-12 col-md-4 align-self-end hero_link-col">
						<a href="#">
							<h3>
								Platforma e-learningowa
							</h3>	
						</a>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /content-wrapper -->


















	
{% endblock %}

