{% extends 'base.twig' %}


{% block content %}
	{% embed 'hero-smaller.twig' %}

		{% block heroText %}

			<h2 class="t-big">{{ post.title }}</h2>

		{% endblock %}

	{% endembed %}
	<nav id="story" class="navbar direction__nav scrollspy__nav">
		<ul class="nav nav-pills">
			<li class="nav-item">
				<a href="#rok-1995" class="nav-link">1995</a>
			</li>
			<li class="nav-item">
				<a href="#rok-1996" class="nav-link">1996</a>
			</li>
			<li class="nav-item">
				<a href="#rok-1998" class="nav-link">1998</a>
			</li>
			<li class="nav-item">
				<a href="#rok-1999" class="nav-link">1999</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2000" class="nav-link">2000</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2001" class="nav-link">2001</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2002" class="nav-link">2002</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2003" class="nav-link">2003</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2004" class="nav-link">2004</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2005" class="nav-link">2005</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2006" class="nav-link">2006</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2008" class="nav-link">2008</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2009" class="nav-link">2009</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2010" class="nav-link">2010</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2011" class="nav-link">2011</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2012" class="nav-link">2012</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2013" class="nav-link">2013</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2014" class="nav-link">2014</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2015" class="nav-link">2015</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2016" class="nav-link">2016</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2017" class="nav-link">2017</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2018" class="nav-link">2018</a>
			</li>
			<li class="nav-item">
				<a href="#rok-2019" class="nav-link">2019</a>
			</li>


		</ul>
	</nav>


	<section class="story">
		<div class="container-fluid story__container">
			<div class="row story__row story__row--first" id="rok-1995">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">1995r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Niepaństwowa Wyższa Szkoła Pedagogiczna w Białymstoku (NWSP) to uczelnia niepubliczna założona na podstawie decyzji MEN z dnia 17 października 1995 roku przez Leontynę Jakoniuk
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>NWSP w Białymstoku działa na podstawie obowiązującego prawa o szkolnictwie wyższym i Statutu Uczelni oraz posiada osobowość prawną</li>
									<li>Podstawową jednostką organizacyjną Uczelni w zakresie działalności dydaktyczno-naukowej jest Wydział Nauk o Wychowaniu</li>
									<li>
										Uczelnia otrzymała pozwolenie na prowadzenie trzyletnich wyższych studiów zawodowych na kierunku Pedagogika</li>
									<li>
										Pierwsza siedziba NWSP znajdowała się na ul. Waszyngtona 29 w Białymstoku.
									</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-3 story__img-col" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="900">
							<img src="{{ theme.path }}/static/img/slider3.jpg" alt="" class="img-responsive">
						</div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-1996">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">1996r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									14 maja 1996 roku NWSP w Białymstoku została wpisana do Rejestru Uczelni Niepublicznych pod pozycją 83/96
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Na kierunku Pedagogika powstały dwie specjalności: Pedagogika wczesnoszkolna z edukacją artystyczną (PW) oraz Pedagogika pracy socjalnej z resocjalizacją (PSR)</li>
									<li>Pierwsi studenci rozpoczynają naukę w roku akademickim 1996/1997</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-1998">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">1998r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Uczelnia poszerza działalność edukacyjną o specjalność Wychowanie obronne z problematyką przestępczości, która cieszy się największą popularnością
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Uczelnia podpisała porozumienie o współpracy z Centrum Edukacji Nauczycieli w Białymstoku. W ramach umowy studenci NWSP mogą bezpłatnie korzystać z zasobów Biblioteki Pedagogicznej CEN-u</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-1999">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">1999r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Uczelnia wzbogaca swoją ofertę o studia podyplomowe dla nauczycieli. W latach 1999-2001 zrealizowano podyplomowe studia: edukacji humanistycznej, nauczania blokowego – bloki "Przyroda" i "Sztuka", technologii informacyjnej i informatyki, przysposobienia obronnego z problematyką przestępczości
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W ramach badań naukowych uczelnia rozpoczyna organizować cykliczne konferencje dotyczące reformy oświaty w Polsce. Pierwsza konferencja naukowa "Reforma oświaty" odbyła się 15 maja z udziałem Anny Radziwiłł, doradcy Ministra Edukacji Narodowej oraz przedstawicieli Kuratorium Oświaty, Wojewody Podlaskiego, Marszałka Sejmiku województwa podlaskiego. Naukowy dyskurs o założeniach reformy oświaty uświetniła prezentacja artystyczna, pokazy samoobrony studentów NWSP w Białymstoku.</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2000">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2000r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									NWSP zorganizowała 25 marca Konferencję Naukową "Wdrożenie reformy oświaty – edukacja i społeczeństwo XXI wieku" z udziałem przedstawiciela MEN Pani Jolanty Dobrzyńskiej, dyrektora departamentu strategii i reformy edukacji, Kuratorium Oświaty, dyrektorów szkół województwa podlaskiego, wójtów gmin.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W dniach 20–21 maja 2000 roku w Olsztynie odbyły się Mistrzostwa Polski Szkół Wyższych w Taekwondo WTF, gdzie studenci NWSP zdobyli 3 medale. Dwa złote krążki przywiozła Urszula Knyżewska (jedyna w zawodach podwójna mistrzyni) w walkach oraz w poomse (układy) w wadze 57 kg. Brązowy medal zdobył Andrzej Wardzyński w wadze 87 kg. Opiekunem medalistów był trener taekwondo mgr Stanisław Zduniak</li>
									<li>18 listopada odbywa się Konferencja Naukowa "Edukacja obronna – dylematy i perspektywy". Uczestnikami konferencji byli posłowie AWS, majorzy JW 1451, dowódca JW 1451, V-ce prezydent Miasta Białegostoku, Komisarz i nadkomisarz z Komendy Wojewódzkiej Policji w Białymstoku, przedstawiciele Zarządu Urzędu Marszałkowskiego, redaktor gazety „Polska Zbrojna” w Warszawie.</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2001">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2001r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W roku akademickim 2001/2001 Uczelnia poszerza swoja ofertę edukacyjną o kolejną specjalność: Pedagogikę społeczno-wychowawczą z edukacją zdrowotną (PSW)
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W roku akademickim 2001/2002 NWSP wraz z Komendą Wojewódzką Policji w Białymstoku i młodzieżą z białostockich szkół ponadpodstawowych współtworzyła nadawane w Telewizji Regionalnej Białystok programy o ważnych problemach wychowawczych. Tematyka programów dotyczyła m.in. problemu uzależnień wśród młodzieży, przestępczości w województwie podlaskim, tolerancji, miłości, świata wartości</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2002">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2002r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W 2002 roku powstała Biblioteka NWSP
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>NWSP zorganizowała 25 lutego 2002 roku IV Konferencję Naukową "Reforma Oświaty wobec wyzwań Integracji Europejskiej" – z udziałem dyrektorów szkół, przedstawicieli władz samorządowych (burmistrzów, starostów), Kuratorium Oświaty województwa podlaskiego.
									</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2003">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2003r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									NWSP zostaje właścicielem nowego budynku i przenosi swoją działalność na al. Jana Pawła II 91 w Białymstoku.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W dniu 27 kwietnia Uczelnia zorganizowała w Teatrze Dramatycznym im. Aleksandra Węgierki bezpłatny koncert dla dzieci z Białegostoku "Podarujmy dzieciom radość". Gośćmi koncertu byli m.in. Majka Jeżowska, Jacek Wójcicki, Michał Olszański, Magda Gołaszewska, zespoły taneczne "Szał", "Rytm" oraz chór studencki Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku. Na scenie teatru i w gwiazdorskim towarzystwie po raz pierwszy wystąpiły dzieci z Domu Dziecka Nr 2 w Białymstoku. Oprócz zorganizowania świetnej zabawy Uczelnia wspomogła finansowo powyższą placówkę
									</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2004">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2004r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W roku akademickim 2004/2005 utworzono kolejną specjalność "Edukacja medialna z projektowaniem graficznym" (EM)
								</p>

							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2005">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2005r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W związku ze zmianą prawa oświatowego NWSP działa na podstawie Ustawy z dnia 27 lipca 2005 roku "Prawo o szkolnictwie wyższym"
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Zakończono badania naukowe poświęcone reformie oświaty w Polsce. Pokłosiem pięciu lat wytężonej pracy jest pierwsza książka wydana przez Wydawnictwo Niepaństwowej Wyższej Szkoły Pedagogicznej - monografia "Dylematy Reformowanej szkoły w XXI wieku" pod redakcją dr Agaty Popławskiej
									</li>
									<li>W dniach 10-11 marca odbyła się I Międzynarodowa Konferencja Naukowa "Edukacja międzykulturowa, jako wyzwanie XXI wieku".  Uczestnikami tego spotkania byli nauczyciele akademiccy z całej Polski oraz przedstawiciele Urzędu Wojewódzkiego, Urzędu Marszałkowskiego Województwa Podlaskiego w Białymstoku i Kuratorium Oświaty w Białymstoku. Konferencję uświetnił tatarsko-ukraiński dialog poetycki Piewcy stepowej Hellady - wieczór autorski Selima Chazbijewicza i Tadeusza Karabowicza przy opracowaniu muzycznym Zofii Marszałek oraz występ oktetu wokalnego "Gaudium".</li>
									<li>10 maja odbyła się Ogólnopolska Konferencja Naukowa "Dobro dziecka w rodzinie "Udział w tym seminarium naukowym wzięli przedstawiciele różnych ośrodków akademickich z całej Polski oraz przedstawiciele Kuratorium Oświaty w Białymstoku, Urzędu Marszałkowskiego Województwa Podlaskiego w Białymstoku, Miejskiego Ośrodka Pomocy Rodzinie w Białymstoku.
									</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2006">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2006r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W dniach 25-26 października 2006 roku NWSP w ramach obchodów 10-lecia Niepaństwowej Wyższej Szkoły Pedagogicznej odbyła się Ogólnopolska Konferencja Naukowa "Współczesne kierunki pedagogiczne a postęp w edukacji".
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>NWSP decyzją Minister Edukacji i Nauki z dnia 28 kwietnia 2006 roku otrzymuje uprawnienia do prowadzenia studiów II stopnia (magisterskich) na kierunku "Pedagogika". Utworzenie studiów magisterskich jest wielką szansą na pogłębienie wiedzy teoretycznej z podstawowych dyscyplin humanistycznych, zdobycie profesjonalnego przygotowania pedagogicznego, psychologicznego i merytorycznego. Uczelnia prowadząc studia II stopnia umożliwi studentom rzetelne przygotowanie teoretyczne o charakterze interdyscyplinarnym zorientowanym na konkretną specjalność pedagogiczną.
									</li>
									<li>Telewizja Białystok emituje autorskie programy NWSP (w ramach badań naukowych uczelni, którymi objęta została młodzież szkół średnich) poświęcone następującym problemom: "Młodzi ludzie poszukują odpowiedzi na pytanie: Jaka jest szkoła?", "Szkoła i co dalej – czym jest kariera, jak ją osiągnąć i w jakiej dziedzinie?", "Moda i uroda", "Czym jest sport?", "Narkomania i uzależnienia", "Bezpieczne wakacje".</li>
									<li>Dnia 11 października 2006 roku NWSP zorganizowała Ogólnopolską Konferencję Naukową "Edukacja obronna społeczeństwa". W konferencji udział wzięli naukowcy prowadzący badania w zakresie edukacji obronnej, nauczyciele przysposobienia obronnego, członkowie organizacji pozarządowych, które działają w sferze bezpieczeństwa i obronności państwa, żołnierze WP oraz funkcjonariusze Policji, Straży Granicznej, Państwowej Straży Pożarnej, pracownicy odpowiedzialnych za realizację zadań obronnych w urzędach obsługujących organy administracji rządowej i samorządowej.
									</li>
									<li>27 listopada 2006 roku w NWSP utworzono Akademicki Związek Sportowy. Działają w nim: Sekcja Koszykówki, Sekcja Piłki Siatkowej, Sekcja Sportów Walki. Drużyna NWSP uczestniczy w rozgrywkach III Ligi Podlaskiego Związku Koszykówki.</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2008">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2008r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Powstała Orkiestra Kameralna NWSP.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W lipcu odbyły się pierwsze obrony prac magisterskich.
									</li>
									<li>Uczelnia wzbogaca swoją ofertę o studia podyplomowe dla nauczycieli: Edukacja dla bezpieczeństwa</li>
									<li>7 czerwca 2008 roku pod patronatem honorowym Prezydenta Miasta Białegostoku dr hab. Tadeusza Truskolaskiego odbyła się "Konferencja dla Nauczycieli i Dyrektorów Szkół i Przedszkoli "Zapobieganie trudnościom w uczeniu się".
									</li>
									<li>W dniach 5-6 czerwca 2008 r. w Supraślu odbyła się zorganizowana przez Niepaństwową Wyższą Szkołę Pedagogiczną w Białymstoku Międzynarodowa Konferencja Naukowa "Podmiotowość w edukacji. Ujęcie interdyscyplinarne. Kategorie – realia – tendencje". W spotkaniu naukowym uczestniczyli profesorowie, doktorzy i magistrzy z wielu ośrodków naukowych w całej Polsce, jak również zaproszeni goście z zagranicznych uczelni z Włoch, Słowacji i Białorusi.</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2009">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2009r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									4 marca 2009 roku odbył się drugi koncert z cyklu "Muzyczne Wyspy" w wykonaniu Kameralnej Orkiestry NWSP w Auli Magna Pałacu Branickich w Białymstoku.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Uczelnia wzbogaciła swoją ofertę o Podyplomowe studia pedagogiczne oraz studia podyplomowe: Pedagogika przedszkolna, Pedagogika wczesnoszkolna, Diagnoza i terapia pedagogiczna, Psychopedagogiczne wczesne wspomaganie rozwoju dziecka.
									</li>
									<li>25 marca 2009 roku odbył się trzeci koncert z cyklu "Muzyczne Wyspy" w wykonaniu Kameralnej Orkiestry NWSP w Auli Magna Pałacu Branickich. Podczas koncertu odbyła się kwesta na rzecz hospicjum dla dzieci nieuleczalnie chorych w Otwocku. Dzięki hojności darczyńców na rzecz fundacji udało się zebrać prawie 10 tys. zł</li>
									<li>Uczelnia wzięła czynny udział w VII Podlaskim Festiwalu Nauki i Sztuki. W ramach Festiwalu 23 kwietnia 2009 roku odbyło się spotkanie pod hasłem "Z kryminalistyką na Ty". Celem warsztatów było przybliżenie uczestnikom zadań kryminalistyki, a także jej wykorzystywanie w procesie karnym. W ramach zajęć zaprezentowano środki do ujawniania i zabezpieczania śladów linii papilarnych, ślady mechanoskopijne, a także metody ujawniania zabezpieczeń (znaków utajonych) na dokumentach wartościowych. 24 kwietnia 2009 roku odbyło się spotkanie pod hasłem "Psychologia płci". W ramach wykładu prezentowane były psychoseksualne różnice między kobietami i mężczyznami w poszczególnych okresach rozwojowych.
									</li>
									<li>28 kwietnia 2009 roku studenci pierwszego roku NWSP zorganizowali Studencką Konferencję Naukową pod hasłem "Przemiany współczesnej edukacji". Otwarcia konferencji dokonała Dziekan dr Agata Popławska. Studenci poruszali zagadnienia edukacyjne w następujących obszarach: edukacja w czasie zmiany, rola nauczyciela w edukacji, edukacja a kultura, wybrane problemy kultury, młodzież a kultura. Dodatkową atrakcją był pokaz tańca przygotowany przez grupę taneczną "Szersza Akcja Crew".</li>
									<li>W dniach 1-3 czerwca 2009 roku w Białowieży odbyła się Międzynarodowa Konferencja Naukowa "Drogi i bezdroża współczesnej edukacji. Realia, priorytety i prognozy edukacyjne przełomu wieków 1989-2009". W spotkaniu wzięli udział pracownicy naukowi, reprezentujący 26 uczelni państwowych i niepaństwowych z całej Polski i 5 uniwersytetów z zagranicy (Norwegii, Słowacji, Niemiec, Ukrainy, Białorusi). Swoją obecnością zaszczycili organizatorów przedstawiciele najwyższych gremiów edukacyjnych w Polsce: KNP PAN, CKK, IBE, Dziekani, Dyrektorzy Instytutów i Katedr. Osoby te swoim autorytetem oraz pozycją naukową potwierdziły rangę podjętej debaty o przemianach w edukacji.</li>
									<li>W dniach 23-24 czerwca  2009 roku studenci NWSP byli uczestnikami Obozu Sportowego organizowanego przez Uczelnię w Nowej Woli. Studenci mieli możliwość zapoznania się z różnego rodzaju bronią oraz doskonalenia swoich umiejętności w strzelaniu. Obóz miał również na celu integrację społeczności studenckiej NWSP.</li>
									<li>Uczelnia zakupiła nowy budynek przy ul. Hetmańskiej 8 w Białymstoku. Od października 2009 roku zajęcia dydaktyczne odbywają się zarówno w budynku Uczelni na Al. Jana Pawła II oraz przy ul. Hetmańskiej.</li>
									<li>1 października 2009 roku Senat Uczelni powołał Katedrę Psychologii.</li>
									<li>27 października 2009 roku odbył się Wielki Finał Akademickich Drużynowych Mistrzostw w Bowlingu. Reprezentacja NWSP w składzie: Karolina Juszkiewicz, Anna Szczerba, Justyna Brzezińska i Paweł Wysocki zajęła III miejsce w eliminacjach.</li>
									<li>Od 26 listopada 2009 roku ruszyła działalność Koła Wolontariuszy. Zamierzonym celem wolontariatu jest niesienie wszelkiej pomocy osobom potrzebującym oraz organizowanie imprez charytatywnych.</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2010">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2010r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Uczelnia wzbogaciła swoją ofertę o Podyplomowe studia pedagogiczne dla nauczycieli przedmiotów zawodowych finansowane przez Unię Europejską.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Absolwent Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku Mariusz Wiszniewski został laureatem III nagrody w IV Konkursie na prace popularnonaukowe i badawcze dotyczące historii pożarnictwa.
									</li>
									<li>W ramach programu wymiany studenckiej Erasmus studenci NWSP mają możliwość podjęcia nauki w Szkocji na uniwersytecie w Dundee (University of Abertay Dundee). Studiując cały rok student ma możliwość uzyskania dyplomu ukończenia studiów na zagranicznej uczelni w stopniu Bachelors i Bachelors with Honours (odpowiednik polskiego licencjatu).</li>
									<li>25 lutego 2010 roku NWSP gościła w Bielsku Podlaskim (Gimnazjum nr 1 im. Niepodległości Polski) w ramach VIII Prezentacji Edukacyjno-Doradczych pod hasłem "Uczelnie w Powiecie 2010".
									</li>
									<li>3 marca 2010 roku w III LO w Łomży odbyły się "X Targi Uczelniane. Giełda Pomysłów Na Życie". Wśród prezentowanych uczelni można było zapoznać się z ofertą NWSP.</li>
									<li>18 marca NWSP uczestniczyła w "IV Młodzieżowych Targach Edukacji i Pracy" w Ostrołęce.</li>
									<li>14 kwietnia 2010 roku Uczelnia uczestniczyła w Dniach Otwartych w XI LO Dla Uczelni Wyższych oraz Instytucji Rynku Pracy pod hasłem "Dni edukacji i kariery".</li>
									<li>W NWSP powstaje nowy kierunek studiów pierwszego stopnia (licencjackich): "Bezpieczeństwo wewnętrzne". Uprawnienia nadane zostały decyzją z dnia 15 kwietnia przez Minister Nauki i Szkolnictwa Wyższego.</li>
									<li>NWSP wzięła czynny udział w VIII Podlaskim Festiwalu Nauki i Sztuki. Uczelnia 22 maja zorganizowała następujące spotkania festiwalowe: "Typowe psychologiczne problemy pacjentów teraz i dawniej w oparciu o współczesne szkoły psychoterapeutyczne" prowadzone przez dra Marka Jasińskiego, "Profesjonalna autoprezentacja" prowadzona przez dr Katarzynę Klimkowską, "Siły zbrojne – czas profesjonalistów" prowadzone przez mgr Stanisława Wandałowicza oraz "Z kryminalistyką na TY" prowadzone przez mgr Eugeniusza Ostaszewskiego.</li>
									<li>W dniach 26-28 maja 2010 roku w Augustowie odbyła się zorganizowana przez Niepaństwową Wyższą Szkołę Pedagogiczną w Białymstoku Międzynarodowa Konferencja Naukowa "Psychospołeczne uwarunkowania, jakości życia. Rodzina – szkoła – praca. Zagrożenia – profilaktyka – terapia".</li>
									<li>Uczelnia wzbogaciła swoją ofertę o Podyplomowe studia pedagogiczne dla nauczycieli przedmiotów zawodowych finansowane przez Unię Europejską.</li>
									<li>W NWSP powstaje nowy kierunek studiów jednolitych magisterskich: "Psychologia". Uprawnienia nadane zostały decyzją z dnia 5 sierpnia 2010 roku przez Minister Nauki i Szkolnictwa Wyższego.</li>
									<li>29 sierpnia 2010 roku Niepaństwowa Wyższa Szkoła Pedagogiczna w Białymstoku uczestniczyła w kampanii promocyjnej województwa podlaskiego „Warto tu żyć, zawsze warto tu wracać”.</li>
									<li>NWSP jako jeden z współorganizatorów uczestniczyła w dniach 5-8 sierpnia 2010 roku w Ełku w największych zawodach balonowych w Europie Wschodniej - III Mazurskich Międzynarodowych Zawodach Balonowych o Puchar Prezydenta Ełku.</li>
									<li>22 października 2010 roku w Warszawie odbyła się promocja książki autora ks. dr Kazimierza Pierzchały „Zagubiony dar wolności” wydanej przez Wydawnictwo NWSP.
									</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2011">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2011r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W NWSP powstaje nowy kierunek studiów I stopnia (licencjackich): "Praca socjalna". Uprawnienia nadane zostały decyzją z dnia 20 lipca 2011 roku przez Minister Nauki i Szkolnictwa Wyższego.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>Od 15 lutego do 31 grudnia 2011 r. w NWSP realizowany jest projekt "Edukacja psychopedagogiczna dla społeczności miasta Białegostoku", objęty w grudniu 2010 roku honorowym patronatem Prezydenta Miasta Białegostoku. Są to bezpłatne wykłady dla młodzieży szkół średnich, studentów, nauczycieli oraz dyrektorów szkół prowadzone przez wykładowców NWSP.
									</li>
									<li>
										1 marca 2011 roku Niepaństwowa Wyższa Szkoła Pedagogiczna w Białymstoku została członkiem EUROPEAN ASSOCIATION for SECURITY - towarzystwa naukowego prowadzącego badania i popularyzującego nauki o bezpieczeństwie, którego celem jest edukacja dla bezpieczeństwa ludzi i firm we wspólnej Europie.</li>
									<li>30 marca 2011 roku Jego Ekscelencja Ksiądz Arcybiskup prof. zw. dr hab. Edward Ozorowski wygłosił w NWSP wykład okolicznościowy na temat "Natura - Kultura - Łaska".
									</li>
									<li>
										7 kwietnia 2011 roku w Niepaństwowej Wyższej Szkole Pedagogicznej gościł dr Adem Şahin, profesor Uniwersytetu Selçuk w Konya (Turcja). Wygłosił wykład pt. „Religijność a pojęcie „Ja” wśród dojrzewającej młodzieży”.</li>
									<li>Uczelnia wzięła czynny udział w IX Podlaskim Festiwalu Nauki i Sztuki. W ramach Festiwalu 11 maja 2011 roku odbyły się trzy spotkania prowadzone przez wykładowców NWSP „Warsztat skutecznego porozumiewania się”, „Zabawy w trosce o dobry klimat w grupie” , „Rozprawa sądowa”.</li>
									<li>17 maja 2011 roku NWSP odwiedziła pani Sinem Dogruer, koordynator programu ERASMUS z partnerskiej uczelni Trakya University w Edirne (Turcja). Wizyta wynikała z podpisanej umowy bilateralnej między Niepaństwową Wyższą Szkołą Pedagogiczną w Białymstoku a Uniwersytetem Trakya, dotyczącej współpracy i realizacji zadań programu ERASMUS w latach 2011 -2013.</li>
									<li>20 maja 2011 roku odbyło się zorganizowane przez NWSP Seminarium Naukowe "Edukacja – nauczyciel – uczeń w zmieniającym się społeczeństwie".</li>
									<li>W roku akademickim 2011/2012 Uczelnia poszerzyła swoja ofertę edukacyjną o kolejne kierunki studiów podyplomowych: Psychologia biznesu i zarządzania, Zarządzanie kryzysowe, Negocjacje i mediacje, Doradztwo personalne, Resocjalizacja, Wychowanie do życia w rodzinie, Oligofrenopedagogika.</li>
									<li>
										W NWSP powstaje nowy kierunek studiów I stopnia (licencjackich): "Praca socjalna". Uprawnienia nadane zostały decyzją z dnia 20 lipca 2011 roku przez Minister Nauki i Szkolnictwa Wyższego.</li>
									<li>W dniu 21 listopada 2011 roku odbył się wykład w ramach autorskiego projektu Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku „Edukacja psychopedagogiczna dla społeczności miasta Białegostoku". Wykład „Od czego zależą nasze osiągnięcia? O czynnikach, o których rzadko myślimy...” poprowadziła prof. dr hab. Ewa Drozda-Senkowska, profesor paryskiej Sorbony i wykładowca w NWSP w Białymstoku.
									</li>
									<li>17 grudnia 2011 roku studenci NWSP z kierunku Pedagogika i Bezpieczeństwo Wewnętrzne w dniu roku wzięli udział w Uniwersjadzie Podlaskiej w strzelectwie sportowym i zajęli II miejsce KPN 20, zdobywając puchar.</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2012">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2012r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Powstała Orkiestra Kameralna NWSP.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W lipcu odbyły się pierwsze obrony prac magisterskich.
									</li>
									<li>Uczelnia wzbogaca swoją ofertę o studia podyplomowe dla nauczycieli: Edukacja dla bezpieczeństwa</li>
									<li>7 czerwca 2008 roku pod patronatem honorowym Prezydenta Miasta Białegostoku dr hab. Tadeusza Truskolaskiego odbyła się "Konferencja dla Nauczycieli i Dyrektorów Szkół i Przedszkoli "Zapobieganie trudnościom w uczeniu się".
									</li>
									<li>W dniach 5-6 czerwca 2008 r. w Supraślu odbyła się zorganizowana przez Niepaństwową Wyższą Szkołę Pedagogiczną w Białymstoku Międzynarodowa Konferencja Naukowa "Podmiotowość w edukacji. Ujęcie interdyscyplinarne. Kategorie – realia – tendencje". W spotkaniu naukowym uczestniczyli profesorowie, doktorzy i magistrzy z wielu ośrodków naukowych w całej Polsce, jak również zaproszeni goście z zagranicznych uczelni z Włoch, Słowacji i Białorusi.</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2013">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2013r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									5 marca 2013 roku przedstawiciele Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku odebrali nagrodę za najbogatszą ofertę edukacyjną na targach edukacyjno–doradczych „Uczelnie w powiecie”.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>13 maja 2013 roku w Niepaństwowej Wyższej Szkole Pedagogicznej w Białymstoku odbyły się imprezy w ramach XI. Podlaskiego Festiwalu Nauki i Sztuki.
									</li>
									<li>24 maja 2013 roku Katedra Pedagogiki i Katedra Psychologii Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku zorganizowały Konferencję naukową na temat „Oblicza więzi społecznej – ujęcie interdyscyplinarne".
									</li>
									<li>Dnia 16 grudnia 2013 roku w siedzibie Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku zostało podpisane Porozumienie o współpracy między Komendą Wojewódzką Policji w Białymstoku a Niepaństwową Wyższą Szkoła Pedagogiczną i Podlaskim Centrum Naukowo-Badawczym.
									</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2014">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2014r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Dnia 5 grudnia 2014 roku w Urzędzie Wojewódzkim w Białymstoku odbyła się debata społeczna, w ramach projektu „(nie)Tolerancja”. Działania podjęte są we współpracy Komendy Wojewódzkiej Policji w Białymstoku i Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku. Debatę prowadziła dr Agnieszka Iłendo-Milewska wraz z mgr Izabelą Kaczyńską oraz podkom. Bogusławą Łukszą.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>dniu 23 maja 2014 roku Katedra Pedagogiki, Katedra Psychologii i Zakład Bezpieczeństwa Wewnętrznego Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku była organizatorem Konferencji Naukowej pod hasłem „Zmieniająca się przestrzeń życia współczesnego człowieka – szanse, zagrożenia, wyzwania”. Celem konferencji było zaprezentowanie wyników prowadzonych badań, analiz, studiów na temat przestrzeni życia współczesnego człowieka w kontekście jej wielowymiarowości, zmienności, nowych szans, możliwości.
									</li>
									<li>W dniu 13 grudnia 2014 r. w Niepaństwowej Wyższej Szkole Pedagogicznej w Białymstoku odbyła się uroczystość związana z przyznaniem Naszemu Wykładowcy – prof. Ewie Drozda-Senkowskiej Orderu Legii Honorowej, za szczególne osiągnięcia naukowe, przyznanego przez Prezydenta Republiki Francji François Hollande.
									</li>

								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>

			<div class="row story__row" id="rok-2015">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2015r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W dniu 29 maja 2015 roku Katedra Pedagogiki Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku była organizatorem Seminarium Pedagogicznego pod hasłem "Edukacja – nauczyciel – uczeń/dziecko w zmieniającej się przestrzeni społecznej".
								</p>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2016">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2016r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									17 grudnia 2016 roku odbyły się uroczystości związane z 20-leciem działalności NWSP, w której wzięli udział licznie zgromadzeni wykładowcy, pracownicy administracji, studenci oraz zaproszeni goście.
								</p>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2017">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2017r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									Dnia 11 grudnia 2016 r. w Niepaństwowej Wyższej Szkole Pedagogicznej w Białymstoku odbyło się I Studenckie Seminarium Naukowe Patologie społeczne, jako zagrożenie bezpieczeństwa wewnętrznego. Organizatorami seminarium byli studenci III roku Pedagogiki (resocjalizacja 2014-2017) a opiekę merytoryczną sprawowała Pani Doktor Grażyna Kędzierska.
								</p>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row" id="rok-2018">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2018r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									W dniach 10-11.05.2018 roku w Majątku Howieny odbył się I Kongres Niepaństwowej Wyższej Szkoły Pedagogicznej w Białymstoku pt. „Człowiek w dobie współczesnych wyzwań i zagrożeń” zorganizowany przez Wydział Nauk Społecznych NWSP.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>24 listopada 2018 roku zostało podpisane porozumienie z Komenda Wojewódzką Policji i Strażą Miejską w Białymstoku zawarte z NWSP w zakresie zrealizowania projektu „Wspólna Idea doskonalenia umiejętności w działaniu na rzecz bezpieczeństwa Podlasia.
									</li>


								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
			<div class="row story__row story__row--first" id="rok-2019">
				<div class="col-12 ">
					<div class="row">
						<div class="col-12 col-md-2 story__date-col">
							<p class="story__date t-1 t-extra" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="300">2019r.</p>
						</div>
						<div class="col-12 col-md-7 story__content-col">
							<div class="story__content-wrapper" data-aos="fade-down-short" data-aos-duration="1000" data-aos-delay="600">
								<p class="story__title t-bold">
									8- 10 maja 2019 roku w Centrum Szkoleniowo- Rekreacyjnym „Knieja” w  Rajgrodzie odbył się II Kongres Naukowy NWSP pt. Człowiek w dobie współczesnych wyzwań i zagrożeń”.
								</p>
								<ul class="list rektor__list rektor__list--kierunki">
									<li>W dniu 24.XI.2018 r. zostało podpisane porozumienie z Komendą Wojewódzką Policji i Strażą Miejską w Białymstoku zawarte z Niepaństwową Wyższą Szkołą Pedagogiczną w Białymstoku w zakresie zrealizowania projektu „Wspólna Idea doskonalenia umiejętności w działaniu na rzecz bezpieczeństwa Podlasia”.
									</li>


								</ul>
							</div>

						</div>
						<div class="col-12 col-md-5 story__img-col"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
