/**
 * Basic typography style for copy text
 */
html {
  font-size: 100%;
}

/*16px*/

body {
  color: $text-color;
  font-family: $main-font;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
}

h1,
.t-1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2,
.t-2 {
  font-size: 2.441em;
}

h3,
.t-3 {
  font-size: 1.953em;
}

h4,
.t-4 {
  font-size: 1.563em;
}

h5,
.t-5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.t-big {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 800;
}

.t-bold {
  font-weight: 700;
}

.t-extra {
  font-weight: 800;
}

.t-italic {
  font-style: italic;
}

.t-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-family: $main-font;
  @extend .t-extra;

  &--small {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.1rem;
}

.t-p--medium {
  font-size: 1.4rem;
}

.t-p--serif {
  font-family: $second-font;
}

.t-link {
  color: $main-c;
  font-weight: 800;
  font-family: $main-font;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  transition: $transition;

  &--white {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &:hover {
    text-decoration: none;

    i {
      transform: translateX(5px);
    }
  }

  i {
    margin-left: 5px;
    transition: $transition;
  }
}