.blog__cta {
    padding: 70px;
    background: $main-c;
    color: #fff;

    .fa-rocket {
        font-size: 70px;
    }

    .btn {
        margin-top: 50px;
    }
}

.blog__cta-heading {
    margin-top: 20px;
    text-transform: uppercase;
}