// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
    position: relative;
    font-size: 12px;
    padding: 17px 24px;
    font-weight: 800;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 0;
    overflow: hidden;
    z-index: 0;
    border-radius: 4px;

    &:after,
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        height: 100%;
        width: 0;
        background: #fff;
        opacity: 0;
        transition: $transition;
        z-index: -1;
        transition: opacity 0.3s ease-in-out 0.1s, width 0.3s ease-in-out;
    }

    &:after {
        left: auto;
        right: 50%;
    }

    &:hover {
        color: $text-color;

        &:after,
        &:before {
            width: 50%;
            opacity: 1;
        }
    }

    &--accent {
        border: 1px solid $text-color;

        &:before,
        &:after {
            background: $main-c;

        }

        &:hover {
            color: #fff;
        }
    }

    &--accent-light {
        border-color: #fff;
        color: #fff;

        &:before,
        &:after {
            background: $main-c;

        }

        &:hover {
            color: #fff;
            border-color: $main-c;


        }
    }

    &--white {
        border-color: #fff;
        color: #fff;
    }

    &--small {
        padding: 5px 23px;
        font-weight: 700;
        font-size: 10px;

    }

    &--solid {
        background: #fff;

        &:hover {
            border-color: lighten($color: $main-c, $amount: 20);
            color: #fff;
        }

        &:before,
        &:after {
            background: lighten($color: $main-c, $amount: 20);

        }
    }

    &--accent-solid {
        background: $main-c;

        &:hover {
            color: $text-color !important;
        }
    }
}