.hero-sub {
    .hero__wrapper {
        display: flex;
        align-items: center;
    }

    a {
        i {
            margin-left: 5px;
        }
    }
}


.no-hero {
    padding-top: 200px;
    background: $light-gray;
}