.hero-sub {
    .hero__wrapper {
        display: flex;
        align-items: center;
    }

    a {
        i {
            margin-left: 5px;
        }
    }
}


.no-hero {
    padding-top: 200px;
    background: $light-gray;
}

.hero-smaller {
    height: 70vh;

    .hero__item {
        height: 100%;
    }
}

.hero__small-breadcrumbs {
    .breadcrumbs {
        padding: 0;
        background: transparent;

        a {
            color: #fff;
            opacity: 0.7;
        }

        strong {
            color: #fff;

        }
    }
}