// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


// about page

.about__row--text {
    margin-bottom: 100px;
}

.about__heading {
    margin: 100px 0 30px;
}

.about__inner-col {
    margin-bottom: 20px;

    p {
        font-style: normal;
    }
}

.counter-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    background: $main-c;
}

.about__more {
    border-radius: 3px;

}

.about__more-inner {
    position: relative;
    display: flex;
    min-height: 300px;
    padding: 10%;
    align-items: flex-end;
    color: #fff;
    border-radius: 3px;
    overflow: hidden;
    transition: transform .65s cubic-bezier(.05, .2, .1, 1), box-shadow .65s cubic-bezier(.05, .2, .1, 1);

    @include mq(large) {
        min-height: 350px;

    }

    &:before,
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 85%;
        display: block;
        z-index: 10;
        opacity: 1;
        content: '';
        background: linear-gradient(to bottom, rgba(15, 15, 15, 0), rgba(15, 15, 15, .75) 100%);
        transition: all .65s cubic-bezier(.05, .2, .1, 1);
        transition: transform .65s cubic-bezier(.05, .2, .1, 1), box-shadow .65s cubic-bezier(.05, .2, .1, 1);
    }

    &:after {
        opacity: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), $main-c 100%);

    }

    &:hover {
        color: #fff;
        text-decoration: none;
        transform: translateY(-10px);
        box-shadow: 0 25px 55px rgba(0, 0, 0, .22);

        .about__more-img {
            transform: scale(1.2);
        }

        .about__more-text-wrapper {
            transform: translateY(-100%);
        }

        .about__more-small-text {
            opacity: 1;
            transition-delay: .2s;
        }

        &:before {
            opacity: 0;

        }

        &:after {
            opacity: 1;
        }
    }
}

.about__more-icon {
    svg {
        width: 40px;
        height: 40px;
        fill: #fff;
    }
}

.about__more-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 9s cubic-bezier(.1, .2, .7, 1);
    object-fit: cover;
}

.about__more-text-wrapper {
    position: relative;
    width: 100%;
    z-index: 11;
    transition: transform .65s cubic-bezier(.05, .2, .1, 1);
    transform: translateY(20px);

    h3 {
        margin-top: 15px;

        @include mq(desktop) {
            font-size: 1.4em;
        }

        @include mq(large) {
            font-size: 1.953em;
        }
    }

}

.about__more-small-text {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
    transition-delay: 2s;
    transition: opacity .65s cubic-bezier(.05, .2, .1, 1);
    min-height: 100px;

    @include mq(desktop) {
        font-size: 14px;
    }

    @include mq(large) {
        font-size: 16px;
    }
}

.about__more--plan {
    svg {
        width: 35px;
    }
}


.wpsm_number {

    .counter {
        font-family: $main-font;
        @extend .t-big;

        &:after {
            content: '+';
            color: #fff;
        }
    }
}

.wpsm_col-md-4 {
    &:nth-child(2) {
        .counter {
            font-family: $main-font;
            @extend .t-big;

            &:after {
                content: '%';
                color: #fff;
            }
        }
    }
}


.wpsm_count-title {
    font-family: $main-font !important;
    @extend .t-italic;
}



.about__more-small-text {
    opacity: 0;
}







.cta__container {
    padding: 250px 80px 80px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    background-attachment: fixed;

    a {
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        img {
            transform: scale(1.1);

        }
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .4s ease-in-out;
    }

    &:after {
        @include overlay;

    }

    .cta__row {
        position: relative;
        z-index: 1;
    }

    h3 {
        text-transform: uppercase;
    }

}

.cta {
    padding: 20px 0 100px;
}



.featured-posts {
    padding-bottom: 100px;
    border-bottom: 1px solid $border-color;
}

.featured__heading {
    a:hover {
        text-decoration: none;
    }

    h4 {
        color: $text-color;

    }
}


.posts__heading {
    margin: 100px 0 70px;
}


// home posts
.posts {
    padding-bottom: 100px;

    .btn {
        margin: 0 auto;
        display: inline-block;
        // margin-top: 100px;
    }
}

.post__btn-wrapper {
    text-align: center;
}

.posts__row {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;


}

.post__col {
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

}

.post__col--1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    img {
        height: auto;
    }

    h3 {
        @extend .t-2;

    }
}

.post__title {
    color: $text-color;
}

.post__date {
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    color: $date;
    display: block;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 50px;
        height: 2px;
        background: $main-c;
    }
}

.post__cat {
    display: block;
    margin-top: 40px;
    font-size: 10px;
    text-transform: uppercase;
}