// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$main-font: "Montserrat",
sans-serif;
$second-font: "PT Serif",
serif;

$main-c: #00338d;

$text-color: #353535;

$light-gray: #f6f6f7;
$date: #707070;

$border-color: #e6e7ea;
$transition: all 0.3s ease-in-out;