// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$main-font: "Montserrat", sans-serif;
$second-font: "PT Serif", serif;

$main-c: #26476a;

$text-color: #353535;

$light-gray: #f6f6f7;
