{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
<header class="header">
	<div class="header--top">
		<div class="container header__container u-h-100">
			<div class="row header__row align-items-center u-h-100">


				{% block topheader %}
					<div class="col-md-4 logo">
						<a href="{{ theme.link }}">Logo</a>
					</div>
					<div class="col-md-8 accessibility d-flex  u-white">

						<div class="accessibility__menu ml-auto">
							<a href="#" class="btn btn--small btn--white">
								<span class="btn__inner">Wirtualny
									<br>dziekanat</span>
							</a>
							<a href="#" class="btn btn--small btn--white">
								<span class="btn__inner">Platforma
									<br>
									e-learningowa</span>
							</a>

							<a href="#" class="header__search">
								<i class="fa fa-search" aria-hidden="true"></i>
							</a>
						</div>
					</div>

				</div>


			{% endblock %}

		</div>
	</div>
	<div class="container nav__container">
		<nav id="nav-main" class="nav-main" role="navigation">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav>

	</div>
</header>

<section id="content" role="main" class="content-wrapper"> {% block content %}{% endblock %}
	</section>


	{% block footer %}
		<footer id="footer">
			{% include 'footer.twig' %}
		</footer>


		{{ function('wp_footer') }}
	{% endblock %}
</body></html>
