<section class="discover">
	<div class="container discover__container" data-aos="fade-down-short" data-aos-duration="1000">
		<div class="row discover__row">
			<div class="col-md-3 discover__col">
				<h2 class="t-title">Odkryj więcej</h2>
			</div>
			<div class="col-md-3 discover__col">
				<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
				<a href="#" class="t-link">Dowiedz się więcej
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</a>

			</div>
			<div class="col-md-3 discover__col">
				<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
				<a href="#" class="t-link">Dowiedz się więcej
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</a>

			</div>
			<div class="col-md-3 discover__col">
				<h3 class="t-title t-title--small">Życie studenckie na NWSP</h3>
				<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis, amet.</p>
				<a href="#" class="t-link">Dowiedz się więcej
					<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
				</a>

			</div>


		</div>
	</div>
</section>


<section class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9572.249723240526!2d23.0770298!3d53.1449741!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2bdce8521f3ff95a!2sNiepa%C5%84stwowa%20Wy%C5%BCsza%20Szko%C5%82a%20Pedagogiczna%20w%20Bia%C5%82ymstoku!5e0!3m2!1spl!2spl!4v1579087808803!5m2!1spl!2spl" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<div class="footer footer--top" data-aos="fade-down-short" data-aos-duration="1000">
	<div class="container">
		<div class="footer__title-row">
			<h3 class="t-3 t-extra">
				NWSP - Niepaństwowa Wyższa Szkoła Pedagogiczna
			</h3>
		</div>
		<div class="row footer__row">
			<div class="col-md-8 footer__col-links">
				<ul class="footer__list list">
					<li class="list__item">
						<a href="#" class="list__link t-bold">Rekrutacja do NWSP
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>
					<li class="list__item">
						<a href="#" class="list__link t-bold">Ogłoszenia NWSP
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Biblioteka
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Plan zajęć.
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Uczelnia
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Kandydaci
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Studenci
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Studia
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

				</ul>
			</div>

			<div class="col-md-4 footer__col-button">
				<a href="#" class="btn btn--white">kontakt</a>
			</div>
		</div>
	</div>
</div>


<div class="footer footer--bottom">

	<div class="container ">
		<nav id="footer-nav" class="footer-nav" role="navigation">
			{% include "menu.twig" with {'items': menu_footer.get_items} %}
		</nav>
		<div class="footer__socials-row">
			<div class="footer__col footer__col--left">
				<ul class="list footer__socials-list">
					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</li>


				</ul>
				<div class="copyright">
					<span>COPYRIGHT© 2020 NWSP. Tworzenie oprogramowania</span>
					<a href="https://www.prograffing.pl" target="_blank" rel="noopener noreferrer"><img src="http://konsorcjumgrajewo.pl/wp-content/uploads/2019/12/logo_prograffing.png" alt="Tworzenie oprogramowania Prograffing.pl" width="120"></a>

				</div>
			</div>
			<div class="footer__col footer__col--right">
				<a href="https://www.bip.gov.pl/" class="footer__logo">
					<img src="{{ theme.path }}/static/img/bip_szary.png" alt="">
				</a>
				<a href="{{ site.link }}" class="footer__logo footer__logo--svg">
					<img src="{{ theme.path }}/static/img/logo-white.svg" alt="">
				</a>
			</div>
			<!-- #nav -->

		</div>

	</p>
</div>
