<div class="footer footer--top">
	<div class="container">
		<div class="footer__title-row">
			<h3 class="t-3 t-extra">
				IE - reinventing higher education
			</h3>
		</div>
		<div class="row footer__row">
			<div class="col-md-8 footer__col-links">
				<ul class="footer__list list">
					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>
					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">ie buisness school
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

				</ul>
			</div>

			<div class="col-md-4 footer__col-button">
				<a href="#" class="btn btn--white">All undergraduate degrees</a>
			</div>
		</div>
	</div>
</div>


<div class="footer footer--bottom">

	<div class="container ">
		<nav id="footer-nav" class="footer-nav" role="navigation">
			{% include "menu.twig" with {'items': menu.get_items} %}
		</nav>
		<div class="footer__socials-row">
			<div class="footer__col footer__col--left">
				<ul class="list footer__socials-list">
					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>

					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>


				</ul>
				<div class="copyright">
					<span>COPYRIGHT© 2019 Konsorcjum Grajewo. Tworzenie oprogramowania</span>
					<a href="https://www.prograffing.pl" target="_blank" rel="noopener noreferrer"><img src="http://konsorcjumgrajewo.pl/wp-content/uploads/2019/12/logo_prograffing.png" alt="Tworzenie oprogramowania Prograffing.pl" width="120"></a>

				</div>
			</div>
			<div class="footer__col footer__col--right">
				<a href="{{ theme.link }}">Logo</a>

			</div>
			<!-- #nav -->

		</div>

	</p>
</div>
