<div class="footer footer--top" data-aos="fade-down-short" data-aos-duration="1000">
	<div class="container">
		<div class="footer__title-row">
			<h3 class="t-3 t-extra">
				NWSP - Niepaństwowa Wyższa Szkoła Pedagogiczna
			</h3>
		</div>
		<div class="row footer__row">
			<div class="col-md-8 footer__col-links">
				<ul class="footer__list list">
					<li class="list__item">
						<a href="#" class="list__link t-bold">Rekrutacja do NWSP
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>
					<li class="list__item">
						<a href="#" class="list__link t-bold">Ogłoszenia NWSP
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Biblioteka
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Plan zajęć.
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Uczelnia
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Kandydaci
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Studenci
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

					<li class="list__item">
						<a href="#" class="list__link t-bold">Studia
							<i class="fa fa-external-link" aria-hidden="true"></i>
						</a>
					</li>

				</ul>
			</div>

			<div class="col-md-4 footer__col-button">
				<a href="#" class="btn btn--white">kontakt</a>
			</div>
		</div>
	</div>
</div>


<div class="footer footer--bottom">

	<div class="container ">
		<nav id="footer-nav" class="footer-nav" role="navigation">
			{% include "menu.twig" with {'items': menu_footer.get_items} %}
		</nav>
		<div class="footer__socials-row">
			<div class="footer__col footer__col--left">
				<ul class="list footer__socials-list">
					<li>
						<a href="#">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</li>


				</ul>
				<div class="copyright">
					<span>COPYRIGHT© 2020 NWSP. Tworzenie oprogramowania</span>
					<a href="https://www.prograffing.pl" target="_blank" rel="noopener noreferrer"><img src="http://konsorcjumgrajewo.pl/wp-content/uploads/2019/12/logo_prograffing.png" alt="Tworzenie oprogramowania Prograffing.pl" width="120"></a>

				</div>
			</div>
			<div class="footer__col footer__col--right">
				<a href="https://www.bip.gov.pl/" class="footer__logo">
					<img src="{{ theme.path }}/static/img/bip_szary.png" alt="">
				</a>
				<a href="{{ site.link }}" class="footer__logo footer__logo--svg">
					<img src="{{ theme.path }}/static/img/logo-white.svg" alt="">
				</a>
			</div>
			<!-- #nav -->

		</div>

	</p>
</div>
