{% if menu %}
	<ul class="nav__list">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				<a class="menu__link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
				{% if item.children %}
					{% include "menu.twig" with {'items': item.children} %}
				{% endif %}

			</li>
		{% endfor %}
	</ul>
{% endif %}
